In [1]:
a = 10

In [3]:
a = 'a'

In [4]:
type (a)

str

In [7]:
int("122")

122

In [8]:
print("Hello World")

Hello World

In [9]:
print(123)

123

In [11]:
age = 23
print("My age is :" ,age)

My age is : 23

In [13]:
## f string

print(f"My age is :{age}")

My age is :23

In [15]:
##format()
name = "Aditya"
age = 23
print("My name is {} and age is {}".format(name,age))

My name is Aditya and age is 23

In [16]:
print("My name is {} and age is {}".format(age, name))

My name is 23 and age is Aditya

In [17]:
## place holder --->(firstname),(firstages)
print("My name is {firstname} and age is {firstage}".format(firstname = name, firstage = age ))

My name is Aditya and age is 23

In [27]:
name= "Aditya Kumar"
age = 23
degree = "BFA"

" My age is 23 and i have completed : my degree of BFA with the name of Aditya Kumar"

print ("My name is {firstname} and age is {firstage} completed my degree with  {firstdegree}".format(firstname= name , firstage = age, firstdegree= degree))

My name is Aditya Kumar and age is 23 completed my degree with  BFA

In [28]:
print ("My name is {}  and age is {} completed my degree with {} ".format(name,age,degree))

My name is Aditya Kumar  and age is 23 completed my degree with BFA

In [32]:
print (f"My name is : {name} and age is :{age} completed my degree with:  {degree}")

My name is : Aditya Kumar and age is :23 completed my degree with:  BFA

## Control Flow
# Decision Making Statement
   * It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
   * Structure of decision making evaluate several expressions that provide True or False as a result.
   * It is up to you to decide which type of action want to take and execute the statements based upon True and False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [33]:
## if Statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [36]:
## if Statements
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [39]:
name=input("Enter the name")

Enter the name Aditya kumar

In [41]:
age = int(input("Enter your age"))

Enter your age 23

In [43]:
type(age)

int

In [44]:
##Task
## Take a imput of age 
## Check whether age>=18 and age<=45
## Display a message you are young blood

In [45]:
## Mistake 
if age>=18 :
    print("You are young blood")
    else:
        print ("You are not young blood")
    if age<=45 :
    print("You are young blood")
    else:
        print ("You are not young blood")
    
age = int(input("Enter your age"))

SyntaxError: invalid syntax (897673882.py, line 3)

In [57]:
age = int(input("Enter your age"))
if age>=18 and age<=45:
 print("You are young blood")

Enter your age 25

You are young blood

In [60]:
age = int(input("Enter your age"))
if age>=18 and age<=45:
 print("You are young blood")
else:
    print("Thank You! We will let you know.")

Enter your age 14

Thank You! We will let you know.

In [ ]:
## mall - input the product price
##product >1000rs 20% off
##print the product price after removing the discount
## product <=1000rs 30% off
## print the product price after removing the discount

In [64]:
product_price = int(input("Enter the product price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8)) 
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the product price 5000

The price of the product is 4000.0

In [67]:
product_price = int(input("Enter the product price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}") 
else:
    print(f"The price of the product is {product_price*0.7}")

Enter the product price 2000

The price of the product is 1600.0

In [ ]:
## mall - input the product price
##product >3000rs 20% off
##print the product price after removing the discount

##product >=2000rs and <=3000 30% off
##print the product price after removing the discount

## product <= 1000rs and <=2000 40%off
## print the product price after removing the discount

In [15]:
product_price = int(input("Enter the product price"))
if product_price>3000:
    print(f"The price of the product is {product_price*0.8}") 
elif product_price>= 2000 and product_price<=3000:
    print(f"The price of the product is {product_price*0.7}")
else:
     print(f"The price of the product is {product_price*0.6}")

Enter the product price 500

The price of the product is 300.0

In [17]:
product_price = int(input("Enter the product price"))
if product_price>3000:
    print(f"The price of the product is {product_price*0.8}") 
elif product_price>= 2000 and product_price<=3000:
    print(f"The price of the product is {product_price*0.7}")
elif  product_price>= 100 and product_price<2000:
     print(f"The price of the product is {product_price*0.6}")
else:
            print("Lets drink tea ")

Enter the product price 45

Lets drink tea

In [18]:
## mall - input the product price
##product >3000rs 20% off
## price is == 4000 u get trip to Goa 
##print the product price after removing the discount

##product >=2000rs and <=3000 30% off
##print the product price after removing the discount
## price ==2999 u will get aditional gift 
## product <= 1000rs and <=2000 40%off
## print the product price after removing the discount

In [23]:
product_price = int(input("Enter the product price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulation!! U get trip of Goa")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>= 2000 and product_price<=3000:
    if product_price == 2999:
         print (" Congratulation!! U will get aditional gift")
    print(f"The price of the product is {product_price*0.7}")
elif  product_price>= 100 and product_price<2000:
     print(f"The price of the product is {product_price*0.6}")
else:
            print("Lets drink tea ")

Enter the product price 4000

Congratulation!! U get trip of Goa
The price of the product is 3200.0

In [ ]:
#Comprasion operators
True == True

In [26]:
## single statements Suites
val=int(input("Entre the number"))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Entre the number 1000

Go Home

In [ ]:
## Loops statements
1. while loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)