## Loops statements
1. while loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)

In [6]:
# while loop while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [8]:
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money Bank people")

1000
900
800
700
600
500
400
300
200
100
put more money Bank people

## For Loop

In [5]:
lst=["Aditya",1,2,3,4,"apple","banana"]

In [6]:
type(lst)

list

In [8]:
lst[4]

4

In [9]:
lst

['Aditya', 1, 2, 3, 4, 'apple', 'banana']

In [10]:
for x in lst:
    print(x)

Aditya
1
2
3
4
apple
banana

In [12]:
fruits_list=["Mango","Cherry","Apple","Papaya","Banana"]

In [18]:
for a in fruits_list :
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [21]:
##string is also collection of element
fruit='Mango'
for x in fruit:
    print(x)

M
a
n
g
o

In [22]:
fruit[2]

'n'

In [24]:
##writing in one line we use end=""
fruit='Mango'
for x in fruit:
    print(x,end="")

Mango

In [28]:
##range 
for i in range(1,6):
    print(i)

1
2
3
4
5

In [30]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [48]:
### Nested Loops
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [46]:
n=3
for i in range (0,n):
    for j in range (0,i+1):
           print("*",end="")
    print("\r")

*
**
***

In [ ]:
## Loop controls
### Break and continue 
fruits_list=["Mango","Cherry","Apple","Papaya","Banana"]

In [53]:
for i in fruits_list:
    if i=='Apple':
        print ("The fruit is applle")
        break    
    print(i)

Mango
Cherry
The fruit is applle

In [54]:
for i in fruits_list:
    if i=='Apple':
        print ("The fruit is applle")
        pass
    print(i)

Mango
Cherry
The fruit is applle
Apple
Papaya
Banana

In [55]:
for i in fruits_list:
    if i=='Apple':
        print ("The fruit is applle")
        continue
    print(i)

Mango
Cherry
The fruit is applle
Papaya
Banana